body {
  font-family: 'Roboto';
  font-weight: 400;
}

.spacer {
  padding: 1em;
}

.mainContainer {
  margin: 0 auto;
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
}

h1 {
  width: 100%;
  line-height: 4em;
  text-align: center;

}