<h2 id="title">Welcome to Ember.js</h2>

{{!-- {{liquid-outlet}} --}}

{{#liquid-with model as currentModel use="toLeft"}}
  <div class="spacer">
    {{currentModel.id}}
    <button {{action "higher" currentModel}}>Go</button>
  </div>
{{/liquid-with}}

