
<div class="mainContainer">
  {{#link-to 'toUp'}}toUp{{/link-to}}
  {{#link-to 'toDown'}}toDown{{/link-to}}
  {{#link-to 'toLeft'}}toLeft{{/link-to}}
  {{#link-to 'toRight'}}toRight{{/link-to}}
  {{#link-to 'explode'}}explode{{/link-to}}
  {{#link-to 'crossFade'}}crossFade{{/link-to}}
  {{#link-to 'fade'}}fade{{/link-to}}
  {{#link-to 'rotateBelow'}}rotateBelow{{/link-to}}
  {{liquid-outlet}}
</div>