<h1>FOO</h1>
{{#link-to 'bar'}}go to bar{{/link-to}}

{{#liquid-if foo}}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cumque eos perferendis soluta, omnis voluptatibus repellendus magnam ullam sunt cum quos ipsum qui odit natus, accusantium asperiores temporibus pariatur architecto.
{{/liquid-if}}

<div class="spacer">
  <button {{action 'toggleFoo'}}>toggle</button>
</div>